.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.phone {
    margin-top: 30px;
    margin-bottom: 30px;
}
.sort-block {
    margin-bottom: 40px;
}

.sort-block .sort-item {
    padding: 0 10px;
}

.price {
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-around;
}

.phone-card {
    text-align: center;
}

.phone-card__title {
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
}

.phone-card__price {
    margin: 10px 0;
    font-weight: bold;
}

.phone-card__img {
    max-height: 300px;
}


