{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content" style="justify-content: initial;">
            <div class="phone-card">
                <div class="phone-card__title">{{ phone.name }}</div>
                <div class="phone-card__price">стоимость: {{ phone.price }}р.</div>
                <img class="phone-card__img" src={{ phone.image }}>
            </div>
        </div>
    </div>
{% endblock %}